body {
    background-color: white;
    font-size: 100%;
}
h1 {
    color: Black;
    background-color: Green;
    text-align: center;
    font-family: 'Arial Bold';
    font-size: 2.5em;
}

h2 {
  color: grey;
}
